:root {
  --primary-color: #888;
  --second-color: #ccc;
  --text-color: #000;
  --highlight-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
}

h1, h2, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

.container {
  background-color: var(--second-color);
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100vh;
}

header {
  background-color: var(--second-color);
  position: fixed;
  max-width: 1080px;
  top: 0;
  width: 100%;
}

.banner {
  align-items: center;
  display: flex;
  height: 100px;
  margin: 0 15px;
  justify-content: space-between;
}

.header-links a {
  display: block;
}

nav {
  background-color: var(--primary-color);
}

nav ul {
  align-items: center;
  display: flex;
  height: 2.25rem;  
  list-style: none;
}

nav a {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .5rem .8rem;
  text-decoration: none;
}

nav a.current {
  color: var(--highlight-color);
}

nav a:hover {
  background-color: var(--second-color);
}

main {
  margin: 135px 15px 0 15px;
  max-width: 1080px;
  padding-top: 1rem;
}

section {
  background-color: var(--highlight-color);
  box-shadow: .25rem .25rem var(--primary-color);
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

section > img {
  margin-right: 1rem;
}

footer {
  margin: 15px;
  max-width: 1080px;
  padding-bottom: 1rem;
}

form > * {
  display: block;
  font-family: 'Raleway', sans-serif;
  margin: 1rem auto;
  padding: .5rem;
  width: 80%;
}
